@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	font-family:Arial,Helvetica,San-serif;
	/*background-color:#FAFCC2;*/
}

head{
	margin-top:30px;
	
}

h1{
	color:#69C;
	margin-right:300px;
	border-bottom:5px dotted #FC9;
}

h3{
	color:#3A7F07;

	border-bottom:5px dotted #C9E;
}

h1,h2,h3,h4{
	line-height:1.5;
	margin-top:10px;
	line-height:1.5;
	margin-left:20px;
	margin-right:70px;
}


p{
	line-height:1.5;
	margin-top:10px;
	line-height:1.5;
	margin-left:30px;
	margin-left:30px;
}

a{
	text-decoration:none;
	font-weight:bold;
	margin-left:10px;
	padding-top:10px;
}


img{
	/*margin-left:auto;
	margin-right:auto;*/
	text-align:center;
}

ul{
	padding-left:100px;
	color:#555;
}

footer{
	height:200px;
}
