@charset "utf-8";
/* CSS Document */


#main{
	width:500px;
	float:right;
	margin-top:100px;
}

#sidebar{
	width:200px;
	float:left;
	margin-top:60px;
}

img{
	margin-top:120px;}
	
	
.clear{
	clear:both;
}

h2{
	font: 25px Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-weight:bold;
}

body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

@media screen and (min-width: 750px) {

    body {
        text-align: center;
    }

 
	#container {
    width: 730px;
    text-align:left;
	margin:0 auto;
    /*box-sizing: border-box; 
	padding: 20px;*/
	
}


}
