* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: "Raleway", sans-serif;
}



section {
	width: 100vw;
	
}

/*#intro .logo{
	text-align:right;
	margin-right:20px;
}


#intro {
	background:url('images/owl4.jpg');
	background-size:contain;
	background-position: center;
	background-attachment: fixed;
	
	
}
*/

#picture h1 {
	font-family: 'Nunito', sans-serif;
	font-size:5em;
	position: absolute;
	top: 30%;
	margin-left:300px;
	width: 100%;
	color:#f26522;
	/*color:#333;
	color:#6D6626;*/
	
	
}

#picture p{ 
	position: absolute;
	margin-left:300px;
	width: 100%;
	font-size:2em;
	top: 48%;
	color:#ffffff;
	font-weight:lighter;
}

#picture p em{
	font-weight:bold;
}
	
.logo{top:100px; position: fixed; z-index: 1000;}

#picture {
	position: relative;
	background-image:url('images/cool.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
}

#content {
	position: relative;
	background:url('images/owl4b.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
}

/*#content p {
	width: 50%;
	margin-left: 30px;
	margin-top: 30px;
}*/

#gap {
	position: relative;
	background-image: url('images/jump.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	/*perspective: 1px;
	transform-style: preserve-3d;*/
	height: 100vh;
}



#contact {
	position: relative;
	color: #fff;
	background-image:url('images/owl2.jpg');
	background-position: center center;
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	min-height: 100vh;
	max-height: 200vh;
}

@media (min-width: 935px) {
	
	.work{ margin-left:250px; width: 700px; min-height: 700px;}
		/*.work h2{font-size: 30px; font-family: PrimeRegular; color: #f26522;}
		.work ul {list-style-type: none;}
		.work ul li{display: inline;}
	
	
	.work{ 
		position:absolute;
		margin-left:400px;
		width: 900px; */
		
	
	
	.resume{ 
		/*background:url(images/WhiteBg.png);
		border: 0px solid ;
    	border-radius: 50px;
		opacity:0.6;*/
		margin:30px 0 100px 150px; 
		 
		min-height: 600px;
	

	}
	
	.column {
		text-align: center;
	}
	
	.left-column {
		width:40%;
		float: left;
	}
	
	.right-column {
		width:60%;
		float: right;
	}
	
}

.contact{
	
	color:#fff; 
	
	}

.contact h1{
	font-size: 30px; 
	font-family: "Raleway", sans-serif;
	 color: #ffffff; 

	 }
.contact strong{
	font-size:40px; 
	color: #f26522;
	font-weight: bold;
}
.contact ul li a{
	color:#ffffff; 
	}
.contact ul{
	/*float:left;*/
	margin-top:-30px; 
	margin-left: -10px;
	}
	
	

.resume ul li{
	text-align:left;
	margin-left:10px;
}

.resume h2{	
	margin-top:30px;
	font-size: 25px; 
	font-family: "Raleway", sans-serif;
	color: #f26522;
	
}

 .work h2{	
	color: #f26522;
 }



 .work h2{	
	font-size: 30px; 
	font-family: "Raleway", sans-serif;
	padding-top:20px;
}

.work ul li{
	display: inline;
	margin:0 5px 10px 0;
}

.work ul {
	list-style-type: none;
}

footer{
	height: 30px;
	color:#000000;
	
	margin-left:10px;
	font-family: "Raleway", sans-serif;
}